<section id="body_content_left">
  <%= render '/refinery/menu_right' -%>
</section>
<section id="body_content_right">
  <div id="wrap">
    <h3 class="title">最新情報</h3>
    <h4 class="title"><%= ::CONF['news']['title'] %></h4>
    <%= render :partial => '/refinery/news/items/recent_posts' %>
    <h4 class="title"><%= ::CONF['additions']['data']['disaster']['title'] %></h4>
    <%= raw recent_feed_list @feed %>
  </div>
</section>
