<% if ::CONF['additions']['data'][@id]['type'].include?("disaster") -%>
  <center><font color="#778899"><b><%= ::CONF['additions']['data']['disaster']['title'] %></b></font></center><hr color="#4975d4" />
<% else -%>
  <center><font color="#778899"><b><%= ::CONF['additions']['data'][@id]['title'] %></b></font></center><hr color="#4975d4" />
<% end -%>

<% if @feed.status == 0 %>
  <h3><%= raw @item.title %></h3>
  <hr />
  <dl>
    <dt>□詳細</dt>
      <dd><%= raw @item.content %></dd>
    <dt>□更新日</dt>
      <dd><%= @item.updated %></dd>
  </dl>
<% else -%>
  <h3>詳細情報が確認できませんでした。</h3>
  <hr />
  <p>情報が変更されている可能性がありますので、下のリンクより、再度、一覧をご確認ください。</p>
<% end -%>
<br />
<hr color="#4975d4" />
<% if ::CONF['additions']['data'][@id]['type'].include?("disaster") -%>
  &lt;&lt;&nbsp;<%= link_to link_to ::CONF['additions']['data']['disaster']['title']+"一覧へ戻る", "/info/disaster" %><br />
<% else -%>
  &lt;&lt;&nbsp;<%= link_to link_to ::CONF['additions']['data'][@id]['title']+"一覧へ戻る", "/info/"+@id %><br />
<% end -%>
&lt;&lt;&nbsp;<%= link_to "TOP", refinery.root_path %>
