<% content_for :javascripts do %>
<script type="text/javascript">
var scrollBox, boxHeight, contentsHeight, endpoint, duration;
var margin = 20;
$(document).ready(function(){
  scrollBox = $("#slider");
  boxHeight = $(window).height() - scrollBox.offset().top - margin;
  if (boxHeight < scrollBox.height()){
    scrollBox.css("height",boxHeight);
    scrollBox.css("overflow","auto");

    contentsHeight = $("#slide_contents").outerHeight();
    endpoint = contentsHeight - boxHeight + margin;
    duration = endpoint * <%= ::CONF['additions']['tv']['speed_scroll'] %>;

    $(function(){
      setTimeout(function(){
        scrollBox.animate({ scrollTop: endpoint }, duration, "linear", function() {
          setTimeout(function(){document.location.reload(true);}, <%= ::CONF['additions']['tv']['after_scroll'] %>);
        });
      },<%= ::CONF['additions']['tv']['before_scroll'] %>);
    });
  }else{
    setTimeout(function(){document.location.reload(true);}, <%= ::CONF['additions']['tv']['no_scroll'] %>);
  }
});
</script>
<% end %>
<span></span>
<p><marquee bgcolor="#000000"><h1><font color="#ffffff">
  <% if @items.any? -%>
    <% @items.each do |item| -%>
      <%= item.title %>　　　
    <% end -%>
  <% else -%>
    <%= ::CONF['additions']['tv']['no_marquees'] %>
  <% end -%>
</font></h1></marquee></p>
<%= raw feed_list @feed -%>
